header{
    border-style: solid;
    border-color: grey;
    border-radius: 3px;
    display: flex;
    display: inline-block;
    
}
.icons{
    float:right;
    margin-left: 50px;
    
}
.chats{
    border-style: solid;
    border-color: grey;
    border-radius: 3px;
    display:flex;
    display: inline-block;
    margin-left: 500px;
    margin-top: 300px;
}
section{
    overflow: scroll;
}
p:nth-child(2n){
    background-color: blue;
    color: white;
    border-radius: 10px;
}
p:nth-child(2n+1){
    background-color: grey;
    color: white;
    border-radius: 10px;
    
}
p{
    border-style: solid;
    border-color: pink;
    border-width: 2px;
}
.name{
    font-weight: bold;
}
